body{
    background-image:linear-gradient(to right, rgb(247, 224, 167), rgb(226, 165, 239));  
  height: 50% 50%;
  }
  
  #part_one{
      font-size:10px;
      padding-left: 55%;
      padding-top: -19%;
  
  }
  #nav{
      text-align: right;
      margin-top: -4.8%;
      font-size: 20px;
      padding-right: 12%;
  }
  
  
  .Box{
      background-color: white;
      height: 60%;
      width: 55%;
      margin-left: 40%;
      margin-top: -45.7%;
      text-align: left;
      padding-left: 2%;
  
      }
  

  #two{
      margin-left: 60%;
      text-justify: 10%;
  }
  #three{
      padding-bottom:-80%;
      margin-bottom: -50%;
      margin-top: -8%;
  }
  #four{
  box-sizing: 40%;
  text-justify: 10%;
  }
  
  h6{
      font-style: italic;
      padding-left: 10%;
  }
  .Box1{
      height: 580px;
      width: 35%;
      background-color: rgb(240, 212, 136);
      padding-right: 2%;
      margin-left: 4%;
      padding-bottom: 10px;
  }
  #container1 button {
  background-color: rgb(68, 52, 243);
  max-width: 60%;
  
  }
  #image{
      margin-left: 10%;
      margin-bottom: 20%;
  
  }
  .box3{
height: 400px;
width: 600px;
background-color: rgb(200, 118, 230);
margin-left: 29%;
margin-top: 1%;
text-align: center;
padding-top: 5%;
padding-bottom: 20%;
  }
  
  #login{
      margin-top: 2%;
    
  }
  .container{
      padding-bottom: 20%;
  }
  .four input[type="text"]{
width: 60%;
  }
  .p{
      font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  }
  #signups button{
      background-color: red;
     
  }